@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #f6c841;
    --blue-primary: #09161e;
    --gray-primary: #d9d9d9;
}

html,
body {
    @apply overflow-x-hidden scroll-smooth;
}

@font-face {
    font-family: "Swap";
    src: url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.eot");
    src: url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a95213845ae87f1b0515b5eec0fd074a.svg#Swap")format("svg");
}

@font-face {
    font-family: "Montserrat";
    src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot");
    src: url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5fc6f4fd75e944a52a342ab2c7f100f1.svg#Montserrat")format("svg");
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-swap {
    font-family: 'Swap';
    font-weight: 700;
    font-style: normal;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #f6c841;
    --color-blue-primary: var(--blue-primary);
    --color-gray-primary: var(--gray-primary);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-manrope: 'Manrope', sans-serif;
    --animate-bouncing: bouncing-shield 2.5s linear infinite;
}

@keyframes bouncing-shield {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
